body {
    background-color: #FFF;
}

.container {
    max-width: 1200px !important
}

.logo a img {
    width: 180px;
    height: 45px;
    border-radius: 6px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .logo a img {
        height: 40px !important;
    }

    #custom-search-input {
        width: 245px !important;
    }

    #custom-search-input input {
        font-size: 10px !important;
        width: 240px !important;
    }

    .navbar-li-index {
        font-size: 11px !important;
        display: inline-block !important;
    }

    .navbar-li-index:first-child {
        margin-right: 10px !important;
    }

    .free_ilan {
        width: 100% !important;
    }

    .free_ilan .button20 {
        width: 100% !important;
        font-size: 11px !important;
    }
}

@media screen and (max-width: 1092px) and (min-width: 768px){

    #flash_search {
        display: none;
    }
}

.footerlogo a img {
    width: 100%;
    max-width: 235px;
    border-radius: 6px;
}

.tab-menu {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    border-bottom: 2px solid #ffc000;
}

.tab-menu li {
    list-style: none;
    display: inline-block;
    margin: 0 0px 5px 0;
    border-radius: 4px;
}

.tab-menu li a {
    display: block;
    color: #666;
    padding: 8px;
    font-size: 12px;
    font-family: Arial;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: 600;
}

.tab-content {
    display: none
}

#tab1 {
    display: block
}

.tab-container {
    font-family: Arial;
    font-size: 14px;
    color: #666
}

.current a {
    background: #ffdd00;
    color: #545454;
}

.btn {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;

}

.thumbnails {
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none !important;
    border: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.thumbnail {
    border: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px !important;
}

.thumbnail img {
    margin: auto;
    border: none !important;
    padding: 0px !important
}

#myCarousel {
    display: none
}

#firsat .span3 {
    width: 24.9% !important;
    float: left;
    list-style-type: none;
    margin: 0 !important;
    border: solid 0px #e8e8e8;
    background-color: #fff !important;
    padding: 0px !important;
    border-right: solid 1px #fff;
    padding: 5px !important;
    text-align: center;
    height: 250px
}

#firsat .span3 a {
}

#firsat .span3:last-child {
    border-right: solid 0px #eee;
}

#firsat .span3 img {
    height: 125px !important;
    width: auto !important;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.span3 {
    width: 14.2% !important;
    float: left;
    list-style-type: none;
    margin: 0 !important;
    border: solid 0px #e8e8e8;
    background-color: #fff !important;
    padding: 0px !important;
    border-right: solid 1px #eee;
    padding: 5px !important;
    text-align: center;
    height: 125px
}

.span3:last-child {
    border: none !important
}

.span3 img {
    height: 75px !important;
    width: auto !important
}

.slide {
    background-color: #FFF !important;
    border: solid 1px #DADADA;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    margin-bottom: 5px;
}

.btn-primary {
    background-color: #777 !important;
    border-color: #777 !important
}

.row.no-pad {
    margin-right: 0;
    margin-left: 0;
}

.row.no-pad > [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}

.top15 {
    margin-top: 1px;
    width: auto;
}

.panel-heading {
    font-weight: bold
}

.header {
    height: 105px;
    background-color: #fff;
    border-bottom: solid 1px #ededed;
    padding-top: 5px;
    border-top: solid 5px #474747
}

#custom-search-input {
    padding: 3px;
    border-radius: 6px;
    width: 230px;
    box-shadow: inset 0 0 0 11px #3f475f;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
    font-size: 11px;
    background-color: #2f3546;
    font-weight: 500;
    color: white;
    border-radius: 4px;
    width: 220px;
}

#custom-search-input button {
    margin: -1px 0 0 -35px;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 15px;
    z-index: 1000;
    color: #fff;
}

.button1 {
    background-color: #989898;
    border-color: #727070;
    color: #fff;
    font-size: 14px !important;
    margin-left: 10px !important
}

.button1:hover {
    color: #fff;
    border-color: #727070 !important;
    background-color: #375275 !important;
}

.button19 {
    background-color: #0a4a7acc;
    border-color: #fff;
    color: #fff;
    font-size: 14px !important;
    margin-left: 770px !important;
    margin-top: -67px;
}

.button19:hover {
    color: #fff;
    border-color: #ee626d !important;
    background-color: #ee626d !important;
}

.button20 {
    background-color: #ffe100;
    color: #2c2c2c;
    font-weight: 600;
    width: fit-content;
}

.button328 {
    color: #fff;
    font-weight: 600;
    font-size: 11px;
}

.button84 {
    background-color: #fe9b06;
    color: #fff;
    font-size: 12px !important;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.button85 {
    background-color: #2a86cb;
    color: #fff;
    font-size: 12px !important;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.button86 {
    background-color: #2a86cb;
    color: #fff;
    font-size: 12px !important;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;

}

.button87 {
    background-color: #2a86cb;
    color: #fff;
    font-size: 12px !important;
    float: left;
    margin-top: 7.2px;
    margin-bottom: 5px;
    margin-left: 5px;
    height: 35px;
}

.button20:hover {
    color: #fff;
    border-color: #25394a !important;
    background-color: #25394a !important;
}

.header-link {
    padding-top: 30px;
}

.navbar-default {
    background-color: #3f475f;
    border-color: #777;
    margin-bottom: 0px;
    z-index: 1;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 10px;
    margin-top: 4px;
    font-weight: 600;
}

.search-h3 {
    font-size: 15px;
    padding: 0;
    max-resolution: 0px;
    font-weight: bold;
    color: #5d5c5c
}

.header-s {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #3f475f;
}

.search-pad {
    padding-top: 10px
}

.search-list {
    padding: 0;
}

.search-list li {
    float: left;
    list-style-type: none;
    margin: 5px 5px;
    width: 400px;
    border: solid 1px #c9b4af;
    padding: 7px;
    border-radius: 4px;
}

.search-list li:first-child {
    margin-left: 0;
}

.search-list li:first-child {
    margin-left: 0px
}

.search-list li:nth-child(5) {
    margin-left: 0px
}

.search-list li a {
    color: #5d5c5c;
    font-size: 12px;
    font-weight: bold;
    display: block !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.banner1 {
    margin-top: 1px;
}

.category {
    margin: 0px;
    padding: 0px
}

.category li {
    list-style-type: none;
    font-size: 13px;
    line-height: 20px;
    color: #003399;
    font-family: inherit;
    font-weight: 500;
}

.category li span {
    font-size: 11px;
    color: #B1B1B1
}

.category li a {
    color: #003399 !important;
    line-height: 20px;
    text-decoration: none;
    margin-left: 20px;
    font-family: verdana;
}

.maincat {
    font-weight: bold;
    font-size: 14px !important;
    padding-bottom: 3px;
    margin-bottom: 3px;
    margin-top: 10px;
}

.leftmenu {
    margin: 0px;
    padding: 0px;
    border: none !important
}

.leftmenu li {
    list-style-type: none;
    line-height: 30px;
    border-bottom: solid 1px #e5e5e5 !important
}

.leftmenu li a {
    color: #555555
}

.ilandetay1 {
    font-weight: normal !important;
    border: solid 1px #eee;
    display: inline-block !important;
    width: 100% !important;
    line-height: 30px;
    padding: 5px;
    padding-left: 10px
}

.selects {
    max-height: 125px;
    overflow-y: scroll;
    background-color: #f5f5f5
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover, .track3.dragging {
    background: #d9d9d9;
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3, .track3.dragging .handle3 {
    width: 10px;
}

.qlabel {
    font-size: 14px !important;
    font-weight: bold !important;
    border-bottom: solid 1px #eee;
    display: block;
    padding-bottom: 5px !important;
    margin-bottom: 10px !important
}

.btn-info {
    border: 1px solid #ccc;
    color: #383838 !important
}

.select .form-group {
    margin-bottom: 10px !important
}

.select {
    margin-top: 5px !important
}

.btn-primary {
    padding: 12px !important;
    border: none !important
}

.btn-danger {
    padding: 12px !important;
    border: none !important
}

.dropdown-menu {
    min-width: 180px !important
}

.green {
    background-color: #239a15 !important
}

.box {
    border: solid 1px #eee;
    padding: 15px;
    position: relative;
    height: 150px;
}

.box h5 {
    padding: 0px !important;
    margin: 0px !important;
    padding-bottom: 10px !important;
    font-weight: bold;
    font-size: 16px
}

.box select {
    position: absolute;
    bottom: 15px !important;
    max-width: 92%
}

.sub2 {
    padding-left: 10px !important
}

.sub3 {
    padding-left: 20px !important
}

.sub4 {
    padding-left: 30px !important
}

.sub5 {
    padding-left: 40px !important
}

.sub6 {
    padding-left: 50px !important
}

.sub7 {
    padding-left: 50px !important
}

.row.no-gutter {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutter > [class^="col-"], .row.no-gutter > [class*=" col-"] {
    padding-right: 5px;
    padding-left: 0;
}

.td-title {
    background-color: #777777;
    line-height: 40px;
    border: solid 1px #fff;
    text-align: center !important;
    font-size: 12px;
    font-weight: bold;
    color: #fff
}

.adv {
    padding: 5px;
    background-color: #fff;
    border: solid 1px #ededed;
    border-radius: 4px;
    margin-bottom: 2px
}

.logomm {

}

.mobil-menu {
    background: #3f475f;
    left: -250px;
    height: 100%;
    position: fixed;
    width: 215px;
    top: 46px;
    z-index: 1000;
    list-style-type: none;
    top: 0px;
    width: 250px;
    padding-top: 40px;
}

.mobil-menu ul {
    border-top: 1px solid #636366;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobil-menu li {
    border-bottom: 1px solid #4d4d4d;
    line-height: 18px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-top: 5px;
    color: white;
    text-decoration: none;
    transition: all .6s;
    padding: 10px !important;
}

.mobil-menu li:hover {
    background-color: #000;
    color: white;
}

.mobil-menu li a {
    color: inherit;
    text-decoration: none;
}

.mobil-menuqq {
    background: #3f475f;
    right: -250px;
    height: 100%;
    position: fixed;
    width: 215px;
    top: 66px;
    z-index: 1000;
    list-style-type: none;
}

.mobil-menuqq ul {
    border-top: 1px solid #636366;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobil-menuqq li {
    border-bottom: 1px solid #4d4d4d;
    line-height: 18px;
    font-size: 14px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-top: 5px;
    color: white;
    text-decoration: none;
    transition: all .6s;
    padding: 7px !important;
}

.mobil-menuqq li:hover {
    background-color: #000;
    color: white;
}

.mobil-menuqq li a {
    color: inherit;
    text-decoration: none;
}

.ac-kapa {
    color: white;
    margin-top: 4px;
    padding: 6px 10px;
    display: none;
    border-radius: 0 6px 6px 0
}

@media (max-width: 768px) {
    .ac-kapa {
        color: white;
        margin-top: 4px;
        padding: 6px 10px;
        display: block;
        border-radius: 0 6px 6px 0
    }
}

.ac-kapasag {
    color: white;
    margin-top: 4px;
    padding: 6px 10px;
    display: none;
    border-radius: 0 6px 6px 0;
    float: right;
}

@media (max-width: 768px) {
    .ac-kapasag {
        color: white;
        margin-top: 4px;
        padding: 6px 10px;
        display: block;
        border-radius: 0 6px 6px 0
    }
}

.adv:hover {
    background-color: #f5f5f5 !important;
    padding: 10px
}

.adv-color {
    background-color: #F8F6BD;
    border: solid 1px #FFF67F
}

.panel {
    margin-bottom: 10px;
    border: solid 1px #ededed;
}

.price {
    cursor: default;
    padding: 5px !important;
    margin-top: 15px;
    background-color: #f2dd41 !important
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #696969;
    border-color: #fff;
    font-weight: 600;
}

.pagination > li > a, .pagination > li > span {
    color: #000;
}

.image1 {
    text-align: center;
    /*height: 80px;*/
}

.image1:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.image1 img {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
}

.adv2 {
    margin-bottom: 10px !important;
    /*height: 90px !important;*/
}

.adv2-title {
    padding: 12px;
    text-align: center;
    font-size: 12px
}

.adv2-title a {
    color: #5d5c5c !important
}

.panel-heading a {
    color: #4b4b4b;
    font-weight: normal !important;
    text-decoration: underline;
    font-size: 14px;
}

.ilan-title {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px
}

.ilan-image {
    border: solid 1px #eee;
    height: 100%;
    vertical-align: middle;
    text-align: center !important;
}

.ilan-image img {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.kucuk {
    cursor: pointer
}

.buyuk {
    padding: 10px;
    border: solid 1px #EEEEEE;
    border-top: none
}

.st {
    font-weight: bold
}

.font12 {
    font-size: 12px
}

.hr {
    margin-top: 5px;
    margin-bottom: 5px
}

.userbox {
    padding: 15px;
    border: solid 1px #ededed;
    background: #f6f6f6;
}

.userbox2 {
    padding: 15px;
    margin-top: 15px;
    border: solid 1px #ddd
}

.ilan-kategori-link {
    padding-bottom: 15px;
    margin-left: 5px;
}

.ilan-kategori-link a {
    color: #777777
}

.nb-footer {
    background: #f9f9f9;
    border-bottom: solid 1px #777;
    padding-bottom: 15px;
    border-top: solid 2px #dbdbdb;
}

.nb-footer .footer-title {
    display: block;
    margin: 10px 0 10px 0;
    border-bottom: 1px dotted #e4e9f0;
}

.nb-footer .footer-single a {
    text-decoration: none;
}

.nb-footer .footer-single h2 {
    color: #505050;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    border-bottom: 2px solid #b3b3b3;
    padding-bottom: 5px;
    margin-bottom: -2px;
}

.nb-footer .footer-single li {
    border-top: solid 1px #777;
}

.nb-footer .footer-single li:first-child {
    border-top: none;
}

.nb-footer .footer-single li a {
    color: #7d7d7d;
    font-size: 12px;
    padding: 6px 0px;
    display: block;
    transition: all 0.4s ease-in-out;
}

.nb-footer .footer-single li a:hover {
    color: #ee7e62;
}

.nb-footer .footer-single li a:hover i {
    color: #ee7e62;
}

.nb-footer .footer-project a {
    font-size: 13px;
}

.nb-copyright {
    background: #f9f9f9;
    padding-bottom: 10px;
    border-top: solid 1px #fff !important;
}

.nb-copyright .copyrt {
    margin-top: 22px;
    font-size: 14px;
}

.nb-copyright .copyrt a {
    color: #ee7e62;
}

.footercop {
    font-size: 11px;
    color: #5F5F5F;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center
}

.footerlogo {
    height: 65px;
    margin-top: 29px;
    text-align: center;
    border-radius: 4px !important;
}

.pagination {
    margin: 0px !important
}

@media (min-width: 768px) and (max-width: 991px) {
    .category li a {
        font-size: 12px !important
    }

    .maincat {
        font-size: 12px !important
    }
}

@media (max-width: 767px) {
    .nav > li > a {
        padding: 6px 1px !important
    }

    .header-s {
        height: 135px;
        background: url(../img/header-bg.png);
        display: none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
        padding-left: 15px;
    }

    .ilan-image {
        max-width: 100% !important;
        height: auto !important
    }

    .ilan-image img {
        max-width: 100% !important;
        height: auto !important
    }

    .navbar-default {
        background-color: #3f475f;
        border-color: #777;
        margin-bottom: 0px;
        z-index: 1;
        display: list-item;
    }
}

@media (min-width: 768px) {
    .navbar-header {
        display: none !important;
    }
}


.container {
    max-width: 1200px !important
}
.container::before,.navbar-header::before,.navbar::before{
    content: "";
    display: none;
}
.logo a img {
    width: 180px;
    height: 45px;
    border-radius: 6px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .logo a img {
        height: 40px !important;
    }

    #custom-search-input {
        width: 245px !important;
    }

    #custom-search-input input {
        font-size: 10px !important;
        width: 240px !important;
    }

    .navbar-li-index {
        font-size: 11px !important;
        display: inline-block !important;
    }

    .navbar-li-index:first-child {
        margin-right: 10px !important;
    }

    .free_ilan {
        width: 100% !important;
    }

    .free_ilan .button20 {
        width: 100% !important;
        font-size: 11px !important;
    }
}

.footerlogo a img {
    width: 100%;
    max-width: 235px;
    border-radius: 6px;
}

.tab-menu {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    border-bottom: 2px solid #ffc000;
}

.tab-menu li {
    list-style: none;
    display: inline-block;
    margin: 0 0px 5px 0;
    border-radius: 4px;
}

.tab-menu li a {
    display: block;
    color: #666;
    padding: 8px;
    font-size: 12px;
    font-family: Arial;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: 600;
}

.tab-content {
    display: none
}

#tab1 {
    display: block
}

.tab-container {
    font-family: Arial;
    font-size: 14px;
    color: #666
}

.current a {
    background: #ffdd00;
    color: #545454;
}

.btn {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;

}

.thumbnails {
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none !important;
    border: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.thumbnail {
    border: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px !important;
}

.thumbnail img {
    margin: auto;
    border: none !important;
    padding: 0px !important
}

#myCarousel {
    display: none
}

#firsat .span3 {
    width: 24.9% !important;
    float: left;
    list-style-type: none;
    margin: 0 !important;
    border: solid 0px #e8e8e8;
    background-color: #fff !important;
    padding: 0px !important;
    border-right: solid 1px #fff;
    padding: 5px !important;
    text-align: center;
    height: 250px
}

#firsat .span3 a {
}

#firsat .span3:last-child {
    border-right: solid 0px #eee;
}

#firsat .span3 img {
    height: 125px !important;
    width: auto !important;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.span3 {
    width: 14.2% !important;
    float: left;
    list-style-type: none;
    margin: 0 !important;
    border: solid 0px #e8e8e8;
    background-color: #fff !important;
    padding: 0px !important;
    border-right: solid 1px #eee;
    padding: 5px !important;
    text-align: center;
    height: 125px
}

.span3:last-child {
    border: none !important
}

.span3 img {
    height: 75px !important;
    width: auto !important
}

.slide {
    background-color: #FFF !important;
    border: solid 1px #DADADA;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    margin-bottom: 5px;
}

.btn-primary {
    background-color: #777 !important;
    border-color: #777 !important
}

.row.no-pad {
    margin-right: 0;
    margin-left: 0;
}

.row.no-pad > [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}

.top15 {
    margin-top: 1px;
    width: auto;
}

.panel-heading {
    font-weight: bold
}

.header {
    height: 105px;
    background-color: #fff;
    border-bottom: solid 1px #ededed;
    padding-top: 5px;
    border-top: solid 5px #474747
}

/*#custom-search-input {*/
/*    padding: 3px;*/
/*    border-radius: 6px;*/
/*    width: 315px;*/
/*    box-shadow: inset 0px 0px 0px 11px #3f475f;*/
/*}*/

/*#custom-search-input input {*/
/*    border: 0;*/
/*    box-shadow: none;*/
/*    font-size: 11px;*/
/*    background-color: #2f3546;*/
/*    font-weight: 500;*/
/*    color: white;*/
/*    border-radius: 4px;*/
/*    width: 300px;*/
/*}*/

#custom-search-input button {
    margin: -1px 0 0 -35px;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 15px;
    z-index: 1000;
    color: #fff;
}

.button1 {
    background-color: #989898;
    border-color: #727070;
    color: #fff;
    font-size: 14px !important;
    margin-left: 10px !important
}

.button1:hover {
    color: #fff;
    border-color: #727070 !important;
    background-color: #375275 !important;
}

.button19 {
    background-color: #0a4a7acc;
    border-color: #fff;
    color: #fff;
    font-size: 14px !important;
    margin-left: 770px !important;
    margin-top: -67px;
}

.button19:hover {
    color: #fff;
    border-color: #ee626d !important;
    background-color: #ee626d !important;
}

.button20 {
    background-color: #ffe100;
    color: #2c2c2c;
    font-weight: 600;
    width: fit-content;
}

.button328 {
    color: #fff;
    font-weight: 600;
    font-size: 11px;
}

.button84 {
    background-color: #fe9b06;
    color: #fff;
    font-size: 12px !important;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.button85 {
    background-color: #2a86cb;
    color: #fff;
    font-size: 12px !important;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.button86 {
    background-color: #2a86cb;
    color: #fff;
    font-size: 12px !important;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;

}

.button87 {
    background-color: #2a86cb;
    color: #fff;
    font-size: 12px !important;
    float: left;
    margin-top: 7.2px;
    margin-bottom: 5px;
    margin-left: 5px;
    height: 35px;
}

.button20:hover {
    color: #fff;
    border-color: #25394a !important;
    background-color: #25394a !important;
}

.header-link {
    padding-top: 30px;
}

.navbar-default {
    background-color: #3f475f;
    border-color: #777;
    margin-bottom: 0px;
    z-index: 1;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 10px;
    margin-top: 4px;
    font-weight: 600;
}

.search-h3 {
    font-size: 15px;
    padding: 0;
    max-resolution: 0px;
    font-weight: bold;
    color: #5d5c5c
}

.header-s {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #3f475f;
}

.search-pad {
    padding-top: 10px
}

/*.search-list {*/
/*    padding: 0;*/
/*}*/

.search-list li {
    float: left;
    list-style-type: none;
    margin: 5px 5px;
    width: 400px;
    border: solid 1px #c9b4af;
    padding: 7px;
    border-radius: 4px;
}

.search-list li:first-child {
    margin-left: 0;
}

.search-list li:first-child {
    margin-left: 0px
}

.search-list li:nth-child(5) {
    margin-left: 0px
}

.search-list li a {
    color: #5d5c5c;
    font-size: 12px;
    font-weight: bold;
    display: block !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.banner1 {
    margin-top: 1px;
}

.category {
    margin: 0px;
    padding: 0px
}

.category li {
    list-style-type: none;
    font-size: 13px;
    line-height: 20px;
    color: #003399;
    font-family: inherit;
    font-weight: 500;
}

.category li span {
    font-size: 11px;
    color: #B1B1B1
}

.category li a {
    color: #003399 !important;
    line-height: 20px;
    text-decoration: none;
    margin-left: 20px;
    font-family: verdana;
}

.maincat {
    font-weight: bold;
    font-size: 14px !important;
    padding-bottom: 3px;
    margin-bottom: 3px;
    margin-top: 10px;
}

.leftmenu {
    margin: 0px;
    padding: 0px;
    border: none !important
}

.leftmenu li {
    list-style-type: none;
    line-height: 30px;
    border-bottom: solid 1px #e5e5e5 !important
}

.leftmenu li a {
    color: #555555
}

.ilandetay1 {
    font-weight: normal !important;
    border: solid 1px #eee;
    display: inline-block !important;
    width: 100% !important;
    line-height: 30px;
    padding: 5px;
    padding-left: 10px
}

.selects {
    max-height: 125px;
    overflow-y: scroll;
    background-color: #f5f5f5
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover, .track3.dragging {
    background: #d9d9d9;
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3, .track3.dragging .handle3 {
    width: 10px;
}

.qlabel {
    font-size: 14px !important;
    font-weight: bold !important;
    border-bottom: solid 1px #eee;
    display: block;
    padding-bottom: 5px !important;
    margin-bottom: 10px !important
}

.btn-info {
    border: 1px solid #ccc;
    color: #383838 !important
}

.select .form-group {
    margin-bottom: 10px !important
}

.select {
    margin-top: 5px !important
}

.btn-primary {
    padding: 12px !important;
    border: none !important
}

.btn-danger {
    padding: 12px !important;
    border: none !important
}

.dropdown-menu {
    min-width: 180px !important
}

.green {
    background-color: #239a15 !important
}

.box {
    border: solid 1px #eee;
    padding: 15px;
    position: relative;
    height: 150px;
}

.box h5 {
    padding: 0px !important;
    margin: 0px !important;
    padding-bottom: 10px !important;
    font-weight: bold;
    font-size: 16px
}

.box select {
    position: absolute;
    bottom: 15px !important;
    max-width: 92%
}

.sub2 {
    padding-left: 10px !important
}

.sub3 {
    padding-left: 20px !important
}

.sub4 {
    padding-left: 30px !important
}

.sub5 {
    padding-left: 40px !important
}

.sub6 {
    padding-left: 50px !important
}

.sub7 {
    padding-left: 50px !important
}

.row.no-gutter {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutter > [class^="col-"], .row.no-gutter > [class*=" col-"] {
    padding-right: 5px;
    padding-left: 0;
}

.td-title {
    background-color: #777777;
    line-height: 40px;
    border: solid 1px #fff;
    text-align: center !important;
    font-size: 12px;
    font-weight: bold;
    color: #fff
}

.adv {
    padding: 5px;
    background-color: #fff;
    border: solid 1px #ededed;
    border-radius: 4px;
    margin-bottom: 2px
}


.ac-kapa {
    color: white;
    margin-top: 4px;
    padding: 6px 10px;
    display: none;
    border-radius: 0 6px 6px 0
}

@media (max-width: 768px) {
    .ac-kapa {
        color: white;
        margin-top: 4px;
        padding: 6px 10px;
        display: block;
        border-radius: 0 6px 6px 0
    }
}

.ac-kapasag {
    color: white;
    margin-top: 4px;
    padding: 6px 10px;
    display: none;
    border-radius: 0 6px 6px 0;
    float: right;
}

@media (max-width: 768px) {
    .ac-kapasag {
        color: white;
        margin-top: 4px;
        padding: 6px 10px;
        display: block;
        border-radius: 0 6px 6px 0
    }
}

.adv:hover {
    background-color: #f5f5f5 !important;
    padding: 10px
}

.adv-color {
    background-color: #F8F6BD;
    border: solid 1px #FFF67F
}

.panel {
    margin-bottom: 10px;
    border: solid 1px #ededed;
}

.price {
    cursor: default;
    padding: 5px !important;
    margin-top: 15px;
    background-color: #f2dd41 !important
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #696969;
    border-color: #fff;
    font-weight: 600;
}

.pagination > li > a, .pagination > li > span {
    color: #000;
}

.image1 {
    text-align: center;
    /*height: 80px;*/
}

.image1:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.image1 img {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
}

.adv2 {
    margin-bottom: 10px !important;
    /*height: 90px !important;*/
}

.adv2-title {
    padding: 12px;
    text-align: center;
    font-size: 12px
}

.adv2-title a {
    color: #5d5c5c !important
}

.panel-heading a {
    color: #4b4b4b;
    font-weight: normal !important;
    text-decoration: underline;
    font-size: 14px;
}

.ilan-title {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px
}

.ilan-image {
    border: solid 1px #eee;
    height: 100%;
    vertical-align: middle;
    text-align: center !important;
}

.ilan-image img {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.kucuk {
    cursor: pointer
}

.buyuk {
    padding: 10px;
    border: solid 1px #EEEEEE;
    border-top: none
}

.st {
    font-weight: bold
}

.font12 {
    font-size: 12px
}

.hr {
    margin-top: 5px;
    margin-bottom: 5px
}

.userbox {
    padding: 15px;
    border: solid 1px #ededed;
    background: #f6f6f6;
}

.userbox2 {
    padding: 15px;
    margin-top: 15px;
    border: solid 1px #ddd
}

.ilan-kategori-link {
    padding-bottom: 15px;
    margin-left: 5px;
}

.ilan-kategori-link a {
    color: #777777
}

.nb-footer {
    background: #f9f9f9;
    border-bottom: solid 1px #777;
    padding-bottom: 15px;
    border-top: solid 2px #dbdbdb;
}

.nb-footer .footer-title {
    display: block;
    margin: 10px 0 10px 0;
    border-bottom: 1px dotted #e4e9f0;
}

.nb-footer .footer-single a {
    text-decoration: none;
}

.nb-footer .footer-single h2 {
    color: #505050;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    border-bottom: 2px solid #b3b3b3;
    padding-bottom: 5px;
    margin-bottom: -2px;
}

.nb-footer .footer-single li {
    border-top: solid 1px #777;
}

.nb-footer .footer-single li:first-child {
    border-top: none;
}

.nb-footer .footer-single li a {
    color: #7d7d7d;
    font-size: 12px;
    padding: 6px 0px;
    display: block;
    transition: all 0.4s ease-in-out;
}

.nb-footer .footer-single li a:hover {
    color: #ee7e62;
}

.nb-footer .footer-single li a:hover i {
    color: #ee7e62;
}

.nb-footer .footer-project a {
    font-size: 13px;
}

.nb-copyright {
    background: #f9f9f9;
    padding-bottom: 10px;
    border-top: solid 1px #fff !important;
}

.nb-copyright .copyrt {
    margin-top: 22px;
    font-size: 14px;
}

.nb-copyright .copyrt a {
    color: #ee7e62;
}

.footercop {
    font-size: 11px;
    color: #5F5F5F;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center
}

.footerlogo {
    height: 65px;
    margin-top: 29px;
    text-align: center;
    border-radius: 4px !important;
}

.pagination {
    margin: 0px !important
}

@media (min-width: 768px) and (max-width: 991px) {
    .category li a {
        font-size: 12px !important
    }

    .maincat {
        font-size: 12px !important
    }
}

@media (max-width: 767px) {
    .nav > li > a {
        padding: 6px 1px !important
    }

    .header-s {
        height: 135px;
        background: url(../img/header-bg.png);
        display: none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
        padding-left: 15px;
    }

    .ilan-image {
        max-width: 100% !important;
        height: auto !important
    }

    .ilan-image img {
        max-width: 100% !important;
        height: auto !important
    }

    .navbar-default {
        background-color: #3f475f;
        border-color: #777;
        margin-bottom: 0px;
        z-index: 1;
        display: list-item;
    }
}

@media (min-width: 768px) {
    .navbar-header {
        display: none !important;
    }
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.mobil-logo a img {
    width: 100%;
    max-width: 160px;
    border-radius: 6px;
}

.son-eklenen {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.son-eklenen .adv2 .image1 a {
    position: relative;
    display: inline-block;
}

.son-eklenen .adv2 .image1 a img {
    width: 100%;
    height: auto;
}

.header-search-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 2;
    gap: 20px;
}

@media screen and (max-width: 900px) and (min-width: 768px) {
    .header-search-bar {
        display: none!important;
    }
    #custom-search-input {
        width: 200px;
    }
}

.mobil-logo a img, .visible-xs a img {
    width: 100%;
    max-width: 160px;
    border-radius: 6px;
}

.son-eklenen {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.son-eklenen .adv2 .image1 a {
    position: relative;
    display: inline-block;
}

.son-eklenen .adv2 .image1 a img {
    width: 100%;
    height: auto;
}

.active {
    right: 0;
    animation-name: example;
    animation-duration: 2s;
}
@keyframes example {
    0%   {right:-250px;}
    100% {right:0;}
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{
    top: 50%!important;
    margin-top: 0!important;
}

