Options +FollowSymlinks 
RewriteEngine On
ReWriteRule ^register/ index.php?page=register [L,NC]
ReWriteRule ^login/ index.php?page=login [L,NC]
ReWriteRule ^login index.php?page=login [L,NC]
ReWriteRule ^lostpassword/ index.php?page=lostpassword [L,NC]
ReWriteRule c-([0-9]+)-(.*?).html index.php?page=category&id=$1 [L,NC]
ReWriteRule anasayfa-ilanlari.html index.php?page=anasayfa [L,NC]
ReWriteRule anasayfa-ilanlari-([0-9]+)-(.*?).html index.php?page=anasayfa&id=$1 [L,NC]
ReWriteRule acil-ilanlar.html index.php?page=acil [L,NC]
ReWriteRule acil-ilanlar-([0-9]+)-(.*?).html index.php?page=acil&id=$1 [L,NC]
ReWriteRule magazalar-([0-9]+).html index.php?page=magazalar&sayfa=$1 [L,NC]
ReWriteRule i-([0-9]+)-(.*?).html index.php?page=ilan&id=$1 [L,NC]
ReWriteRule ([0-9]+)-kullanici-ilanlari.html index.php?page=kullanici&id=$1 [L,NC]
ReWriteRule favori.php filesystems/favori.php [L,NC]
ReWriteRule magazalar.html index.php?page=magazalar [L,NC]
ReWriteRule hakkimizda.html index.php?page=sayfa&id=1 [L,NC]
ReWriteRule doping.html index.php?page=sayfa&id=2 [L,NC]
ReWriteRule reklam.html index.php?page=sayfa&id=3 [L,NC]
ReWriteRule guvenli-alisveris.html index.php?page=sayfa&id=4 [L,NC]
ReWriteRule yardim.html index.php?page=sayfa&id=5 [L,NC]
ReWriteRule kullanim-sartlari.html index.php?page=sayfa&id=6 [L,NC]
ReWriteRule gizlilik-politikasi.html index.php?page=sayfa&id=7 [L,NC]
ReWriteRule iletisim.html index.php?page=iletisim [L,NC]